/* **************** */
/* Variables */
/* **************** */

:root {
  --clr-primary-dark: hsl(158, 36%, 37%);
  --clr-primary-light: hsl(30, 38%, 92%);

  --clr-primary-dark-hover: hsl(158, 36%, 15%);

  --clr-neutral-dark-blue: hsl(212, 21%, 14%);
  --clr-neutral-gray-blue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 500;
  --fw-bold: 700;

  --fs-small: 0.685rem;
  --fs-paragraph: 0.875rem;
  --fs-heading: 2rem;
}

/* **************** */
/* CSS Reset */
/* **************** */

/* Box Sizing */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove Margins */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Make height full monitor height */
html,
body {
  min-height: 100vh;
}

/* Default line height & font smoothing */
body {
  line-height: 1.5;
}

/* Remove list bullets */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make scrolling smooth when clicking an anchor */
html:focus-within {
  scroll-behavior: smooth;
}

/* Match image width */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove bult-in form typography */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* Maintain style even if the text is too long */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* **************** */
/* End of CSS Reset */
/* **************** */

body {
  text-rendering: optimizeSpeed;
  background-color: var(--clr-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card Content */

main {
  display: flex;
  max-width: 37.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: var(--clr-neutral-white);
  color: var(--clr-neutral-gray-blue);
  font-size: var(--fs-paragraph);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
}

/* Picture */

picture {
  flex-basis: 50%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Information */

.info {
  flex-basis: 50%;
  padding: 1.875rem;
}

.category {
  letter-spacing: 5px;
  text-transform: uppercase;
}

h1 {
  font-family: var(--ff-secondary);
  color: var(--clr-neutral-dark-blue);
  margin: 25px 0;
  font-size: var(--fs-heading);
  line-height: 1;
}

.description {
  line-height: 1.75;
}

.price-container {
  display: flex;
  align-items: center;
  margin: 1.563rem 0;
  gap: 1.25rem;
}

.price-container p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-heading);
  color: var(--clr-primary-dark);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.625rem;
  border-radius: 0.75rem;
  background-color: var(--clr-primary-dark);
  color: var(--clr-neutral-white);
  font-weight: var(--fw-bold);
  padding: 0.875rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-primary-dark-hover);
}

button img {
  width: 0.938rem;
}

/* .attribution {
  font-size: var(--fs-small);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

/* **************** */
/* Media Queries */
/* **************** */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media only screen and (max-width: 37.5em) {
  main {
    flex-direction: column;
    margin: 1.25rem;
  }

  .info {
    padding: 1.25rem;
  }

  h1 {
    margin: 0.625rem 0;
    line-height: 1;
  }
}
