:root {
  // Primaries

  --clr-dark-blue: hsl(238, 29%, 16%);
  --clr-red: hsl(14, 88%, 65%);

  // Gradient

  --gradient-background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );

  // Neutrals
  // Text to be used for shadows

  --clr-vdark-gray-blue: hsl(237, 12%, 33%);
  --clr-gray-blue: hsl(240, 6%, 50%);

  // dividers
  --clr-dividers: hsl(240, 5%, 91%);

  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  // 12px
  --fs-default: 0.75rem;
}
