/* **************** */
/* Variables */
/* **************** */

:root {
  --clr-primary-violet: hsl(257, 40%, 49%);
  --clr-primary-magenta: hsl(300, 69%, 71%);

  --ff-headings: "Poppins", sans-serif;
  --ff-primary: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 600;

  /* 16px */
  --fs-paragraph: 1rem;

  /* FA Border overrides */
  --fa-border-color: white;
  --fa-border-padding: 0.5rem;
  --fa-border-radius: 50%;
  --fa-border-style: solid;
  --fa-border-width: 0.063rem;
}

/* **************** */
/* CSS Reset */
/* **************** */

/* Box Sizing */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove Margins */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Make height full monitor height */
html,
body {
  min-height: 100vh;
}

/* Default line height & font smoothing */
body {
  line-height: 1.5;
}

/* Remove list bullets */
ul,
ol {
  list-style: none;
}

/* Make scrolling smooth when clicking an anchor */
html:focus-within {
  scroll-behavior: smooth;
}

/* Match image width */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

/* Remove bult-in form typography */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline-color: transparent;
}

/* Maintain style even if the text is too long */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* **************** */
/* End of CSS Reset */
/* **************** */

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-paragraph);
  color: white;
  background: var(--clr-primary-violet) url(./images/bg-mobile.svg) top/contain
    no-repeat;
  padding: 2.25rem;
  display: grid;
  place-content: center;
  align-content: space-around;
  text-align: center;
}

header img {
  max-width: 8rem;
}

main img {
  margin: auto;
}

.description {
  font-size: clamp(1rem, calc(0.75rem + 0.5vw), 1.15rem);
  margin-top: 3rem;
}

.description > *:not(:last-child) {
  padding-bottom: 1.5rem;
}

h1 {
  font-size: clamp(1.5rem, calc(1.35rem + 1.5vw), 2.5rem);
  font-weight: var(--fw-bold);
  font-family: var(--ff-headings);
}

button {
  font-family: var(--ff-headings);
  color: var(--clr-primary-violet);
  font-size: clamp(0.813rem, calc(0.65rem + 0.4vw), 1.15rem);
  padding: 0.75rem 4.625rem;
  max-width: 12.5rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.125rem 0.188rem 0.313rem 0.125rem hsl(257, 40%, 42%);
  transition: background ease 0.3s, color ease 0.3s;
}

button:hover {
  background: var(--clr-primary-magenta);
  color: white;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

i {
  color: white;
  width: 2.125rem;
}

i:hover {
  --fa-border-color: var(--clr-primary-magenta);
  color: var(--clr-primary-magenta);
  transition: all ease 0.3s;
}

/* **************** */
/* Media Queries */
/* **************** */

/* At 480px */
@media (min-width: 30em) {
  main img {
    max-width: 25.5rem;
  }
}

/* At 860px */
@media (min-width: 53.75em) {
  body {
    background: var(--clr-primary-violet) url("./images/bg-desktop.svg")
      center/cover no-repeat;
  }

  header img {
    max-width: 13rem;
  }

  main {
    max-width: 81rem;
    display: flex;
    text-align: start;
    gap: 3rem;
  }

  main img {
    flex: 0.55;
    max-width: 100%;
    width: 50%;
  }

  .description {
    flex: 0.45;
    align-items: start;
  }

  .description > *:not(:last-child) {
    padding-right: 2rem;
  }

  button {
    padding: 0.9rem 4rem;
  }

  footer ul {
    justify-content: end;
  }

  i {
    font-size: 1.25rem;
    width: 2.35rem;
  }
}
